<div class="inputbox">
    <input #message placeholder="Add a todo">
  <button (click)="add(message.value); message.value=''">Add</button>
</div>

<div class="listcontainer">
  <ul>
  <li *ngFor="let item of listItems">
    <input #changedItem placeholder="{{item.message}}">
    <!--<button *ngIf={{item.value}}>Update</button>-->
    <button (click)="update(item, changedItem)" class="updatebutton">Update</button>
    <button class="deletebutton" (click)="delete(item)">Delete</button>
  </li>
</ul>
</div>


